{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home" class="align-text-bottom"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('holders') }}">
                <span data-feather="file" class="align-text-bottom"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('holders') }}">
                <span data-feather="users" class="align-text-bottom"></span>
                Account Holders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers" class="align-text-bottom"></span>
                Integrations
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>
  
        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  
      </main>
    </div>
  </div>
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>
{% endblock %}